/* css start here */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.logo h1 {
  color: cornflowerblue;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
.nav nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.nav nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: cornflowerblue;
  cursor: pointer;
}
.containar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: rgba(250, 235, 215, 0.521);
  margin: auto 30px;
  border: 2px solid gray;
  border-radius: 0 0 10px 10px;
}
.nav nav ul li a:hover {
  text-decoration: underline;
}
